<section id="participer">
  <article>
    <h2> Appel à participation</h2>
    <p>Vous comptez venir ? <a href="https://framadate.org/RML12" rel="noreferrer" target="_blank">Aidez-nous à estimer le nombre de participants, inscrivez-vous !</a></p>
    <p>
      TentéEs de venir renforcer l'équipe de bénévoles en amont ou pendant l'évènement ?
      Nous serons heureux de vous accueillir parmi nous !
    </p><p>
    Le <a href="https://pad.tetaneutral.net/p/RML12-benevoles" rel="noreferrer" target="_blank">pad bénévoles</a> est là pour recueillir les intentions de participations.
    Vous pouvez également nous <a href="#contact">contacter directement</a>.
  </p><p>
    Bienvenue !
  </p>
  </article>
</section>
