<section id="programme">
  <input type="hidden" class="ogTitle" value="Intéressés par les alternatives ? Découvrez la monnaie libre !"/>
  <input type="hidden" class="ogDesc" value="Ouvert à tous, garderie prévue, entrée libre, restauration possible. Découvrez le programme : 9 jours de rencontres sur les alternatives économiques et monétaires. Avec Etienne Chouard, Stéphane Laborde, Jean-François Noubel ; des économistes attérrés, des développeurs... Plus de 30 intervenants."/>
  <template class="desc">
    Vous êtes intéressés par les alternatives ? Venez découvrir la monnaie libre aux RML12 !

    Tous publics bienvenus, garderie prévue, entrée libre, restauration possible.
  </template>
  <article>
    <h2>Programme évolutif</h2>
    <p>
      Il n'est jamais trop tard pour <a href="https://pad.tetaneutral.net/p/RML12-atelier-conf-programme" rel="noreferrer" target="_blank">proposer un atelier, une conférence ...</a>.
    </p><p>
    Vous pouvez <a href="webcal://rml12.duniter.io/rml12.ics">synchroniser le programme des RML12 avec votre agenda</a> pour que ses mises à jours soient inclues automatiquement,
    le <a href="//rml12.duniter.io/rml12.ics" download="RML12.ics">télécharger en l'état actuel</a>, ou le consulter en ligne ci-dessous.
  </p>
    {build:__programme}
  </article>
</section>
