<header>
  <nav>
    <h1><a href="//duniter.org/" rel="noreferrer" target="_blank"><img src="img/logo/duniter.svg" alt="Duniter"
    /></a><a href="//g1.1000i100.fr/" rel="noreferrer" target="_blank"><img src="img/logo/g1-flare.svg" alt="Ğ1"
    /></a><a class="titre" href="#top"><span class="short">{conf:titre.tiny}<span>
      {conf:titre.suffix}</span></span><span class="long">{conf:titre.long}</span></a>
    </h1>
    <div class="spacer"></div>
    <a href="#accueil">Accueil</a>
    <a href="#programme">Programme</a>
    <a href="#info_pratique">Info. pratiques</a>
    <a href="#apropos">À propos</a>
  </nav>
</header>
